.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.content {
  flex: 1;
  display: flex;
}

.main {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}